body {
  color: #57564f;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.headerItems {
  display: flex;
  justify-content: space-between;
  margin: 30px 60px;
  /* margin-right: 80px; */
}

.headerItem {
  list-style: none;
  width: 130px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #1a3263;

  &:hover {
    color: #fab95b;
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

.profilePic {
  width: 330px;
}

.name {
  /* color: #e97f4a; */
  color: #fab95b;
  -webkit-text-stroke: 0.2px #1a3263;
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  width: 450px;
  border-radius: 10px;
  text-align: center;
}

.heroSection {
  color: #1a3263;
  text-align: center;
  margin-bottom: 80px;
}

.heroTitle {
  margin: 0;
}

.heroDescription {
  margin: 0;
}

.sectionTitle {
  color: #1a3263;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  margin: 20px;
}

.contacts {
  height: 150px;
}

.icons {
  display: flex;
  justify-content: center;
}

.icon {
  width: 50px;
  height: 50px;
  margin: 0 10px;
  cursor: pointer;
  fill: #7a7a73;

  &:hover {
    fill: #fab95b;
  }
}

.iconMail {
  width: 60px;
  height: 60px;
  padding: 0;
  margin-left: 5px;
  margin-top: -5px;
  cursor: pointer;
  fill: #7a7a73;

  &:hover {
    fill: #fab95b;
  }
}

.footer {
  text-align: center;
  font-size: 0.8rem;
}
